@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
	font-family: 'Spoqa Han Sans Neo', SpoqaHanSans, -apple-system,
		BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

.splash {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100vh;
	background: url(/background.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	overflow: hidden;
}

.splash__content {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.splash h1 {
	margin: 0;
	font-size: 128px;
	line-height: 128px;
	font-weight: 200;
	color: #ffffff;
}

.splash h1 span.suffix {
	margin: 0 0 0 10px;
	font-size: 24px;
	line-height: 24px;
	opacity: 0.66;
}

.splash h3 {
	margin: 32px 0 48px 0;
	font-size: 24px;
	line-height: 24px;
	font-weight: 400;
	opacity: 0.8;
	color: #ffffff;
}

.splash__content__count__invite-only {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 12px 20px;
	padding-top: 15px;
	cursor: pointer;

	margin: 0;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);

	font-size: 16px;
	line-height: 16px;
	font-weight: 400;

	background: rgba(0, 0, 0, 0.5);
	border-radius: 30px;

	letter-spacing: 4.8px;
}

.splash__content__count {
	flex: 1;
}

.splash__content__screenshot {
	flex: 1;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.splash__content__screenshot__img {
	width: 19.375vw;
	height: calc(19.375vw * 2.164874552);
	box-shadow: 0px 40px 50px 0px #13062e 26%;
}

@media (max-width: 992px) {
	.splash__content {
		flex-direction: column;
	}

	.splash__content__count {
		flex: 0 auto;
		padding: 72px 0;
	}

	.splash__content__screenshot {
		flex: 0 auto;
	}

	.splash__content__screenshot__img {
		width: 33vw;
		height: calc(33vw * 2.164874552);
	}
}

@media (max-width: 580px) {
	.splash h1 {
		font-size: 96px;
		line-height: 96px;
	}

	.splash__content__count {
		flex: 0 auto;
		padding: 96px 0;
	}

	.splash__content__screenshot__img {
		width: 50vw;
		height: calc(50vw * 2.164874552);
	}
}
